// @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700');
// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');

@import "variables";
@import "mixins/shadow-mixins";
@import "module/flex";
@import "module/elements";
@import "module/nav";
@import "module/challanger";
@import "module/quick-player-info";
@import "module/wld";