.flex, .flex__column {
  display: flex;
  flex-wrap: wrap; }
  .flex__column {
    flex-direction: column; }

*, *:after, *:before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: subpixel-antialiased; }

body {
  background: #160c40;
  color: white;
  font-size: 1.6rem;
  -webkit-font-smoothing: subpixel-antialiased; }

.wrapper {
  display: flex;
  max-width: 1400px;
  width: calc(100% - 24px);
  min-height: 100%;
  margin: 24px auto; }

.main-content {
  margin: 0 0 0 calc(calc(24px / 2) + calc(240px + 36px));
  padding: calc(24px / 2);
  min-height: calc(100vh - 96px);
  background: #1c0f51;
  box-shadow: 2px 2px 2px black;
  border-left: 1px solid #2c1880;
  border-top: 1px solid #2c1880; }

.nav__wrapper, .nav__wrapper--right {
  position: fixed;
  padding: calc(24px / 2);
  margin: 0 calc(24px / 2);
  min-width: 240px;
  min-height: calc(100vh - 96px); }
  .nav__wrapper--right {
    position: static;
    background: #1c0f51;
    box-shadow: 2px 2px 2px black;
    border-left: 1px solid #2c1880;
    border-top: 1px solid #2c1880; }

.nav__main {
  flex-grow: 1;
  align-items: center; }
  .nav__main a {
    max-width: 180px;
    width: 100%;
    height: 50px;
    margin-top: 24px;
    background: #25146b;
    line-height: 50px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 2px black;
    border-left: 1px solid #3b20ab;
    border-top: 1px solid #3b20ab; }

* {
  will-change: transform; }

.challanger__duel {
  margin: 12px;
  padding: 12px;
  background: #ff1456;
  border: none;
  font-weight: bold;
  color: #160c40;
  box-shadow: 3px 3px 3px black;
  border-left: 1px solid #ff7a9f;
  border-top: 1px solid #ff7a9f;
  transition: all .7s ease; }
  .challanger__duel:hover {
    transform: scale(1.02);
    transition: all .7s ease;
    cursor: pointer;
    background: #ff1e5d;
    box-shadow: 6px 6px 12px black;
    border-left: 1px solid #ffadc4;
    border-top: 1px solid #ffadc4; }

.challanger__recent-matches {
  position: relative;
  font-size: 1rem;
  color: #927ee7;
  overflow: hidden; }

.challanger__match-history {
  position: relative;
  left: 0;
  top: 0;
  font-weight: bold; }
  .challanger__match-history:after {
    content: '/';
    position: absolute;
    right: -7px;
    bottom: 0; }
  .challanger__match-history:nth-child(2) {
    left: 10px; }
  .challanger__match-history:nth-child(3) {
    left: calc(10px * 2); }
  .challanger__match-history:nth-child(4) {
    left: calc(10px * 3); }
  .challanger__match-history:nth-child(5) {
    left: calc(10px * 4); }
    .challanger__match-history:nth-child(5):after {
      display: none; }

.challanger__match-results {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  width: calc(100% - 20px);
  top: 0;
  left: -50px;
  transition: all 2s ease; }

.challanger__top {
  position: relative;
  justify-content: space-around;
  height: 90px; }
  .challanger__top-competitors {
    position: absolute;
    bottom: calc(calc(24px / 2) / 2);
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 2px 2px 2px black;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5); }
    .challanger__top-competitors:nth-child(2) {
      transform: translateX(0) scale(1);
      animation: leftCompetitor 1s .25s forwards;
      background: tomato;
      z-index: 1; }
    .challanger__top-competitors:nth-child(4) {
      transform: translateX(0) scale(1);
      animation: rightCompetitor 1s .25s forwards;
      background: gold;
      z-index: 1; }
  .challanger__top h3 {
    width: 100%; }

.challanger__wrapper {
  flex-grow: 1;
  min-height: 300px; }

.challanger__challange {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red; }

.challanger__player, .challanger__player--active {
  position: relative;
  margin-top: calc(24px / 2);
  padding: calc(calc(24px / 2) / 2);
  max-height: 37px;
  background: #231367;
  transition: transform .25s ease;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;
  border-left: 1px solid #3b20ab;
  border-top: 1px solid #3b20ab; }
  .challanger__player:hover, .challanger__player--active:hover {
    transform: scale(1.02);
    transition: all .25s ease;
    box-shadow: 6px 6px 15px black;
    border-left: 1px solid #4224c1;
    border-top: 1px solid #4224c1; }
  .challanger__player--active {
    max-height: 300px;
    transform: scale(1.02);
    transition: all .25s ease;
    box-shadow: 6px 6px 15px black;
    border-left: 1px solid #4224c1;
    border-top: 1px solid #4224c1; }
    .challanger__player--active .challanger__match-results {
      animation: matchResultsAnimation .8s 1.2s forwards; }
    .challanger__player--active .challanger__match-history {
      position: absolute;
      width: 10px;
      background: #231367;
      animation: changePositionOne 1s forwards; }
      .challanger__player--active .challanger__match-history:after {
        content: ":";
        display: block; }
      .challanger__player--active .challanger__match-history:first-child {
        z-index: 99; }
      .challanger__player--active .challanger__match-history:nth-child(2) {
        animation: changePositionTwo .7s forwards; }
      .challanger__player--active .challanger__match-history:nth-child(3) {
        animation: changePositionThree .7s .15s forwards; }
      .challanger__player--active .challanger__match-history:nth-child(4) {
        animation: changePositionFour .7s .30s forwards; }
      .challanger__player--active .challanger__match-history:nth-child(5) {
        animation: changePositionFive .7s .45s forwards; }
        .challanger__player--active .challanger__match-history:nth-child(5):after {
          display: block; }
    .challanger__player--active .challenger__recent-matches {
      position: relative; }
      .challanger__player--active .challenger__recent-matches span {
        font-size: 5em; }
      .challanger__player--active .challenger__recent-matches li:nth-child(2) {
        top: 15px; }
      .challanger__player--active .challenger__recent-matches li:nth-child(3) {
        top: 30px; }
      .challanger__player--active .challenger__recent-matches li:nth-child(4) {
        top: 45px; }
      .challanger__player--active .challenger__recent-matches li:nth-child(5) {
        top: 60px; }
    .challanger__player--active .active--li {
      display: block;
      color: red; }

@keyframes inlineTLoBlock {
  0% {
    display: inline; }
  100% {
    display: block; } }

@keyframes centerCompetitor {
  0% {
    transform: scale(0.8);
    box-shadow: 2px 2px black; }
  33% {
    transform: scale(1.3);
    box-shadow: 5px 5px black; }
  80% {
    transform: scale(0.9);
    box-shadow: 1px 1px black; }
  100% {
    transform: scale(1.2);
    box-shadow: 3px 3px black; } }

@keyframes leftCompetitor {
  0% {
    filter: blur(1px);
    transform: translateX(0) scale(1); }
  33% {
    filter: blur(1px);
    transform: translateX(-135%) scale(1.2, 0.8); }
  50% {
    filter: blur(0);
    transform: translateX(-90%) scale(0.8, 1.2); }
  66% {
    filter: blur(0);
    transform: translateX(-120%) scale(1.1, 0.9); }
  80% {
    filter: blur(0);
    transform: translateX(-100%) scale(1); }
  100% {
    filter: blur(0);
    transform: translateX(-110%) scale(1); } }

@keyframes rightCompetitor {
  0% {
    filter: blur(1px);
    transform: translateX(0) scale(1); }
  33% {
    filter: blur(1px);
    transform: translateX(135%) scale(1.2, 0.8); }
  50% {
    filter: blur(0);
    transform: translateX(90%) scale(0.8, 1.2); }
  66% {
    filter: blur(0);
    transform: translateX(120%) scale(1.1, 0.9); }
  80% {
    filter: blur(0);
    transform: translateX(100%) scale(1); }
  100% {
    filter: blur(0);
    transform: translateX(110%) scale(1); } }

@keyframes changePositionOne {
  0% { }
  50% {
    left: 0;
    top: 0; }
  100% {
    top: 0;
    left: 0; } }

@keyframes changePositionTwo {
  0% { }
  40% {
    left: 0;
    top: 0; }
  50% {
    left: 0;
    top: calc(15px * 2); }
  60% {
    left: 0;
    top: calc(15px * .5); }
  70% {
    left: 0;
    top: calc(15px * 1.5); }
  80% {
    left: 0;
    top: calc(15px * .8); }
  90% {
    left: 0;
    top: calc(15px * 1.2); }
  100% {
    left: 0;
    top: calc(15px * 1); } }

@keyframes changePositionThree {
  0% { }
  40% {
    left: 0;
    top: 0; }
  50% {
    left: 0;
    top: calc(15px * 3); }
  60% {
    left: 0;
    top: calc(15px * 1); }
  70% {
    left: 0;
    top: calc(15px * 2.5); }
  80% {
    left: 0;
    top: calc(15px * 1.8); }
  90% {
    left: 0;
    top: calc(15px * 2.2); }
  100% {
    left: 0;
    top: calc(15px * 2); } }

@keyframes changePositionFour {
  0% { }
  40% {
    left: 0;
    top: 0; }
  50% {
    left: 0;
    top: calc(15px * 4); }
  60% {
    left: 0;
    top: calc(15px * 2); }
  70% {
    left: 0;
    top: calc(15px * 3.5); }
  80% {
    left: 0;
    top: calc(15px * 2.8); }
  90% {
    left: 0;
    top: calc(15px * 3.2); }
  100% {
    left: 0;
    top: calc(15px * 3); } }

@keyframes changePositionFive {
  0% { }
  40% {
    left: 0;
    top: 0; }
  50% {
    left: 0;
    top: calc(15px * 5); }
  60% {
    left: 0;
    top: calc(15px * 3); }
  70% {
    left: 0;
    top: calc(15px * 4.5); }
  80% {
    left: 0;
    top: calc(15px * 3.8); }
  90% {
    left: 0;
    top: calc(15px * 4.2); }
  100% {
    left: 0;
    top: calc(15px * 4); } }

@keyframes matchResultsAnimation {
  0% { }
  25% {
    left: 50px; }
  60% {
    left: 25px; }
  85% {
    left: 30px; }
  100% {
    left: 27px; } }

.wld li {
  position: relative;
  display: inline-block;
  padding-right: calc(calc(24px / 2) / 2);
  font-size: 1rem;
  font-weight: bold;
  top: 0;
  overflow: hidden; }
  .wld li span {
    position: relative;
    background: red;
    left: -300px;
    display: inline-block;
    transition: all .5s ease; }
  .wld li:after {
    content: '/';
    position: absolute;
    right: 0;
    top: 0; }
  .wld li:nth-last-child(1):after {
    display: none; }
