.flex, .flex__column {
  display: flex;
  flex-wrap: wrap; }
  .flex__column {
    flex-direction: column; }

*, *:after, *:before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: #160c40;
  color: white;
  font-size: 1.6rem; }

.wrapper {
  display: flex;
  max-width: 1400px;
  width: calc(100% - 24px);
  min-height: 100%;
  margin: 24px auto; }

.main-content {
  margin: 0 0 0 calc(calc(24px / 2) + calc(240px + 36px));
  padding: calc(24px / 2);
  min-height: calc(100vh - 96px);
  background: #1c0f51;
  box-shadow: 2px 2px 2px black;
  border-left: 1px solid #2c1880;
  border-top: 1px solid #2c1880; }

.nav__wrapper, .nav__wrapper--right {
  position: fixed;
  padding: calc(24px / 2);
  margin: 0 calc(24px / 2);
  min-width: 240px;
  min-height: calc(100vh - 96px); }
  .nav__wrapper--right {
    position: static;
    background: #1c0f51;
    box-shadow: 2px 2px 2px black;
    border-left: 1px solid #2c1880;
    border-top: 1px solid #2c1880; }

.nav__main {
  flex-grow: 1;
  align-items: center; }
  .nav__main a {
    max-width: 180px;
    width: 100%;
    height: 50px;
    margin-top: 24px;
    background: #25146b;
    line-height: 50px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 2px black;
    border-left: 1px solid #3b20ab;
    border-top: 1px solid #3b20ab; }

.challanger__top {
  position: relative;
  justify-content: space-around;
  height: 90px; }
  .challanger__top-competitors {
    position: absolute;
    bottom: calc(calc(24px / 2) / 2);
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 2px 2px 2px black;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5); }
    .challanger__top-competitors:nth-child(2) {
      transform: translateX(0) scale(1);
      animation: leftCompetitor 1s .25s forwards;
      background: tomato;
      z-index: 1; }
    .challanger__top-competitors:nth-child(4) {
      transform: translateX(0) scale(1);
      animation: rightCompetitor 1s .25s forwards;
      background: gold;
      z-index: 1; }
  .challanger__top h3 {
    width: 100%; }

.challanger__player, .challanger__player--active {
  position: relative;
  margin-top: calc(24px / 2);
  padding: calc(calc(24px / 2) / 2);
  max-height: 30px;
  background: #231367;
  transition: all .5s ease;
  box-shadow: 2px 2px 2px black;
  border-left: 1px solid #3b20ab;
  border-top: 1px solid #3b20ab; }
  .challanger__player--active {
    max-height: 300px; }
    .challanger__player--active .challanger__player__recent-matches {
      position: relative; }
      .challanger__player--active .challanger__player__recent-matches li {
        position: relative;
        width: 100%;
        transition: all .30s ease;
        top: 0;
        left: 0; }
        .challanger__player--active .challanger__player__recent-matches li span {
          left: 3px;
          display: inline-block; }
      .challanger__player--active .challanger__player__recent-matches li:nth-child(2) {
        top: 15px; }
      .challanger__player--active .challanger__player__recent-matches li:nth-child(3) {
        top: 30px; }
      .challanger__player--active .challanger__player__recent-matches li:nth-child(4) {
        top: 45px; }
      .challanger__player--active .challanger__player__recent-matches li:nth-child(5) {
        top: 60px; }
    .challanger__player--active .active--li {
      display: block;
      color: red; }
  .challanger__player__recent-matches {
    color: #927ee7;
    font-size: 1rem; }
  .challanger__player__wrapper {
    flex-grow: 1;
    padding-left: calc(24px / 2);
    height: 300px; }
  .challanger__player__challange {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red; }

@keyframes inlineTLoBlock {
  0% {
    display: inline; }
  100% {
    display: block; } }

@keyframes centerCompetitor {
  0% {
    transform: scale(0.8);
    box-shadow: 2px 2px black; }
  33% {
    transform: scale(1.3);
    box-shadow: 5px 5px black; }
  80% {
    transform: scale(0.9);
    box-shadow: 1px 1px black; }
  100% {
    transform: scale(1.2);
    box-shadow: 3px 3px black; } }

@keyframes leftCompetitor {
  0% {
    filter: blur(1px);
    transform: translateX(0) scale(1); }
  33% {
    filter: blur(1px);
    transform: translateX(-135%) scale(1.2, 0.8); }
  50% {
    filter: blur(0);
    transform: translateX(-90%) scale(0.8, 1.2); }
  66% {
    filter: blur(0);
    transform: translateX(-120%) scale(1.1, 0.9); }
  80% {
    filter: blur(0);
    transform: translateX(-100%) scale(1); }
  100% {
    filter: blur(0);
    transform: translateX(-110%) scale(1); } }

@keyframes rightCompetitor {
  0% {
    filter: blur(1px);
    transform: translateX(0) scale(1); }
  33% {
    filter: blur(1px);
    transform: translateX(135%) scale(1.2, 0.8); }
  50% {
    filter: blur(0);
    transform: translateX(90%) scale(0.8, 1.2); }
  66% {
    filter: blur(0);
    transform: translateX(120%) scale(1.1, 0.9); }
  80% {
    filter: blur(0);
    transform: translateX(100%) scale(1); }
  100% {
    filter: blur(0);
    transform: translateX(110%) scale(1); } }

.wld li {
  position: relative;
  display: inline-block;
  padding-right: calc(calc(24px / 2) / 2);
  font-size: 1rem;
  font-weight: bold;
  top: 0;
  overflow: hidden; }
  .wld li span {
    position: relative;
    background: red;
    left: -300px;
    display: inline-block;
    transition: all .5s ease; }
  .wld li:after {
    content: '/';
    position: absolute;
    right: 0;
    top: 0; }
  .wld li:nth-last-child(1):after {
    display: none; }
