$wlaSpanMargin: 10px;
$wlaSpanMarginTop: 15px;
* {
    will-change: transform; 
}

.challanger {

    &__duel {
        margin: 12px;
        padding: 12px;
        background: $color-complimentery;
        border: none;
        font-weight: bold;
        color: $color-main;
        @include box-shadow($x: 3px, $y: 3px, $spread: 3px, $highlight: lighten($color-complimentery, 20));
        transition: all .7s ease;

        &:hover {
            transform: scale(1.02);
            transition: all .7s ease;
            cursor: pointer;
            background: lighten($color-complimentery, 2);
            @include box-shadow($x: 6px, $y: 6px, $spread: 12px, $highlight: lighten($color-complimentery, 30));
        }
    }

    &__recent-matches {
        position: relative;
        font-size: 1rem;
        color: lighten($color-main, 55);    
        overflow: hidden;    
    }

    &__match-history {
        position: relative;
        left: 0;
        top: 0;
        font-weight: bold;
        

        &:after {
            content: '/';
            position: absolute;
            right: -7px;
            bottom: 0;
        }
        &:nth-child(2) {
            left: $wlaSpanMargin;
        }
        &:nth-child(3) {
            left: calc(#{$wlaSpanMargin} * 2);
        }
        &:nth-child(4) {
            left: calc(#{$wlaSpanMargin} * 3);
        }
        &:nth-child(5) {
            left: calc(#{$wlaSpanMargin} * 4);

            &:after {
                display: none;
            }
        }
    } 
    &__match-results {
        position: relative;
        display: inline-block;
        margin-bottom: 4px;
        width: calc(100% - 20px);
        top: 0;
        left: -50px;
        transition: all 2s ease;
    }

    &__top {
        position: relative;
        justify-content: space-around;
        height: 90px;

        &-competitors {
            position: absolute;
            bottom: $space-quarter;
            width: 50px;
            height: 50px;
            background: red;
            border-radius: 50%;
            display: inline-block;
            z-index: 2;
            transform: scale(1.1);
            @include box-shadow($highlight: rgba(white, .5));

            &:nth-child(2) {
                transform: translateX(0)
                           scale(1);
                animation: leftCompetitor 1s .25s forwards;
                background: tomato;
                z-index: 1;
            }

            &:nth-child(4) {
                transform: translateX(0)
                           scale(1);
                animation: rightCompetitor 1s .25s forwards;
                background: gold;
                z-index: 1;
            }
        }

        h3 {
            width: 100%;
        }
    }
    

    &__wrapper {
        flex-grow: 1;
        min-height: 300px;
    }

    &__challange {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: red;
    }

    &__player {
        position: relative;
        margin-top: $space-half;
        padding: $space-quarter;
        max-height: 37px;
        background: lighten($color-main, 9);
        transition: transform .25s ease;
        overflow: hidden;
        @include box-shadow($highlight: lighten($color-main, 25));
        
        &:hover {
            transform: scale(1.02);
            transition: all .25s ease;
            @include box-shadow($x: 6px, $y: 6px, $spread: 15px, $highlight: lighten($color-main, 30));
        }

        &--active {
            @extend .challanger__player;
            max-height: 300px;
            transform: scale(1.02);
            transition: all .25s ease;
            @include box-shadow($x: 6px, $y: 6px, $spread: 15px, $highlight: lighten($color-main, 30));
            
            .challanger {
                &__match-results {
                    animation: matchResultsAnimation .8s 1.2s forwards; 
                }

                &__match-history {
                    position: absolute;
                    width: 10px;
                    background: lighten($color-main, 9);
                    animation: changePositionOne 1s forwards;

                    &:after {
                        content: ":";
                        display: block;
                    }

                    &:first-child {
                        z-index: 99;
                    }

                    &:nth-child(2) {
                        animation: changePositionTwo .7s forwards;
                    }
                    &:nth-child(3) {
                        animation: changePositionThree .7s .15s forwards;
                    }
                    &:nth-child(4) {
                        animation: changePositionFour .7s .30s forwards;
                    }
                    &:nth-child(5) {
                        animation: changePositionFive .7s .45s forwards;

                        &:after {
                            display: block;
                        }
                    }
                }
            }

            .challenger__recent-matches {
                position: relative;

                span {
                    font-size: 5em;
                }                
            
                li:nth-child(2) {
                    top: 15px;
                }
                li:nth-child(3) {
                    top: 30px;
                }
                li:nth-child(4) {
                    top: 45px;
                }
                li:nth-child(5) {
                    top: 60px;
                }
                
            }

            .active--li {
                display: block;
                color: red;
            }
        }
    }
}

@keyframes inlineTLoBlock {
    0% {
        display: inline;
    }

    100% {
        display: block;
    }
}


@keyframes centerCompetitor {
    0% {
        transform: scale(.8);
        box-shadow: 2px 2px black;
    }

    33% {
        transform: scale(1.3);
        box-shadow: 5px 5px black;
    }

    80% {
        transform: scale(.9);
        box-shadow: 1px 1px black;
    }

    100% {
        transform: scale(1.2);
        box-shadow: 3px 3px black;
    }
}

@keyframes leftCompetitor {
    0% {
        filter: blur(1px);
        transform: translateX(0)
                   scale(1);
    }

    33% {
        filter: blur(1px);
        transform: translateX(-135%)
                   scale(1.2, .8);
    }

    50% {
        filter: blur(0);
        transform: translateX(-90%)
                   scale(.8, 1.2);
    }

    66% {
        filter: blur(0);
        transform: translateX(-120%)
                   scale(1.1, .9);
    }

    80% {
        filter: blur(0);
        transform: translateX(-100%)
                   scale(1);
    }

    100% {
        filter: blur(0);
        transform: translateX(-110%)
                   scale(1);
    }
}

@keyframes rightCompetitor {
     0% {
        filter: blur(1px);
        transform: translateX(0)
                   scale(1);
    }

    33% {
        filter: blur(1px);
        transform: translateX(135%)
                   scale(1.2, .8);
    }

    50% {
        filter: blur(0);
        transform: translateX(90%)
                   scale(.8, 1.2);
    }

    66% {
        filter: blur(0);
        transform: translateX(120%)
                   scale(1.1, .9);
    }

    80% {
        filter: blur(0);
        transform: translateX(100%)
                   scale(1);
    }

    100% {
        filter: blur(0);
        transform: translateX(110%)
                   scale(1);
    }
}

@keyframes changePositionOne {
    0% {
    }

    50% {
        left: 0;
        top: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}
@keyframes changePositionTwo {
    0% {

    }

    40% {
        left: 0;
        top: 0;
    }

    50% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 2);
    }

    60% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * .5);
    }

    70% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 1.5);
    }

    80% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * .8);
    }
    90% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 1.2);
    }

    100% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 1);
    }
}
@keyframes changePositionThree {
    0% {}

    40% {
        left: 0;
        top: 0;
    }

    50% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 3);
    }

    60% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 1);
    }

    70% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 2.5);
    }

    80% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 1.8);
    }
    90% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 2.2);
    }

    100% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 2);
    }
}
@keyframes changePositionFour {
    0% {}

    40% {
        left: 0;
        top: 0;
    }

    50% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 4);
    }

    60% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 2);
    }

    70% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 3.5);
    }

    80% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 2.8);
    }
    90% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 3.2);
    }

    100% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 3);
    }
}
@keyframes changePositionFive {
    0% {}

    40% {
        left: 0;
        top: 0;
    }

    50% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 5);
    }

    60% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 3);
    }

    70% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 4.5);
    }

    80% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 3.8);
    }
    90% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 4.2);
    }

    100% {
        left: 0;
        top: calc(#{$wlaSpanMarginTop} * 4);
    }
}

@keyframes matchResultsAnimation {
    0% {}

    25% {
        left: 50px;
    }

    60% {
        left: 25px;
    }

    85% {
        left: 30px;
    } 

    100% {
        left: 27px;
    }
}