*,*:after,*:before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: subpixel-antialiased;

}

body {
    background: $color-main;
    color: white;
    font-size: 1.6rem;
    -webkit-font-smoothing: subpixel-antialiased;

}

.wrapper {
    display: flex;
    max-width: 1400px;
    width: calc(100% - #{$space-default});
    min-height: 100%;
    margin: $space-default auto;
}

.main-content {
    margin: 0 0 0 calc(#{$space-half} + calc(#{$side-bar-width} + 36px));
    padding: $space-half;
    min-height: calc(100vh - 96px);
    background: lighten($color-main, 4);
    @include box-shadow($highlight: lighten($color-main, 15));
}