.nav {
    &__wrapper {
        padding: $space-half;
        margin: 0 $space-half;
        min-width: 240px;
        height: calc(100vh - 96px);
        background: lighten($color-main, 4);
        @include box-shadow($highlight: lighten($color-main, 15));
    }
}