.wld {

    li {
        position: relative;
        display: inline-block;
        padding-right: $space-quarter;
        font-size: 1rem;
        font-weight: bold;
        top: 0;
        overflow: hidden;
        
        span {
            position: relative;
            background: red;
            left: -300px;
            display: inline-block;
            transition: all .5s ease;
        }


        &:after {
            content: '/';
            position: absolute;
            right: 0;
            top: 0;
        }
        
        &:nth-last-child(1) {
            
            &:after {
                display: none;
            }
        }
    }
}